<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Agenda Electrónica</title>
</head>
<body class="bg-black m-12">
    <div class="flex flex-col items-center bg-yellow-100 mx-8 sm:mx-12 md:mx-24 lg:mx-96 xl:mx-80 p-4 rounded-xl">
        <h1 class="text-3xl font-bold mb-8 text-black text-center">Agenda electronica.py</h1>
        <ul class="flex flex-col items-center space-y-2 w-full">
            <li class="w-full border-b border-neutral-500 text-center">
                <a href="{{ url_for('add_contact') }}" class="w-full text-neutral-800 font-semibold">Registro de contactos</a>
            </li>
            <li class="w-full border-b border-neutral-500 text-center">
                <a href="{{ url_for('search') }}" class="text-neutral-800 font-semibold">Buscar contactos</a>
            </li>
            <li class="w-full border-b border-neutral-500 text-center">
                <a href="{{ url_for('show_all') }}" class="text-neutral-800 font-semibold">Mostrar lista de contactos</a>
            </li>
            <li class="w-full border-b border-neutral-500 text-center">
                <a href="{{ url_for('edit_contact') }}" class="text-neutral-800 font-semibold">Editar contacto</a>
            </li>
        </ul>
    
<div class="w-full text-neutral-800 mt-16 pt-4 border-t border-neutral-700 text-center">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message|safe }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>

</div>
</body>
</html>